<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários Cadastrados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Usuários Cadastrados</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Número</th>
                <th>CPF</th>

            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario[1] }}</td>
                <td>{{ usuario[2] }}</td>
                <td>{{ usuario[3] }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Video Streaming</h1>
    <img src="{{ url_for('video_feed') }}">

</body>
</html>
